* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ==============common=============== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* ===========header======== */

.header {
  background: #ffffff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  padding: 52px 0 8px;
  display: flex;
  align-items: center;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  color: #2f3a3b;
  padding: 8px 19.5px;
  font-size: 1.1rem;
}

.action {
  display: flex;
  align-items: center;
}

.action .action-link {
  color: #494949;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 157.5px;
}

.action .action-link:hover,
.nav a:hover {
  color: #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}

.action .action-btn {
  font-size: 1.2rem;
  display: inline-block;
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding: 0 16px;
  width: 108px;
  height: 46px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  text-align: center;
  font-weight: 600;
}

.action .action-btn:hover {
  background: #1ebfc1;
  color: #fff;
  transition: 0.3s;
}
